body {
  font-family: "Pacifico", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

header {
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 2px solid #333;
  max-width: 95%;
  height: auto;
  background: url('http://s2js.com/img/etc/flappyback.png');
  background-size: cover;
  transition: transform 0.2s ease-in-out;
}

canvas:hover {
  transform: scale(1.03);
}

.controls {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #444;
}

body.dark-mode {
  background-color: #121212;
  color: #ddd;
}

body.dark-mode button {
  background-color: #ddd;
  color: #333;
}

body.dark-mode canvas {
  border-color: #ddd;
}
